*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
    /* background-color: gray; */
    margin-top: 50px;
    background-color: aliceblue;
}

.brand-logo{
    float: left;
}

.web-nav{
    float: right;
}

ul{
    list-style-type: none;
}

li{
    float: left;
    padding: 8px 10px;
}

.clear{
    clear: both;
}

/* .clearfix::after

h2::after{
    content: 'remember this';
    background-color: yellow;
}

.testing-after::after{
    content: 'This is just testing after ';
    background-color: blue;
} */

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.section1{
    float: left;
    width: 50%;
}