* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  body {
    height: 100vh;
    width: 100%;
    padding: 3rem;
  }
  
  div {
    border: 5px solid rgb(17, 0, 255);
    padding: 2rem;
    background-color: rgba(247, 242, 242, 0.1);
  }
  
  .container {
    width: 100%;
    display: grid;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-top: 1rem;
  }
  .h1 {
    justify-content: center;
  }
  /* screen horizontal breakpoints */
  /* Mobile screen portrait */
  @media screen and (max-width: 415px) {
    .container {
      grid-template-columns: 1fr;
    }
  }
  /* Tab portrait & Mobile landscape */
  @media screen and (min-width: 768px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  /* Tab landscape or mini monitor*/
  @media screen and (min-width: 1024px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  /* laptop screen */
  @media screen and (min-width: 1200px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
      flex-direction: column;
      padding: 3rem;
    }
  }
  /* laptop with fhd screen */
  @media screen and (min-width: 1500px) {
    .container {
      grid-template-columns: repeat(5, 1fr);
      flex-direction: column;
      padding-left: 15rem;
    }
  }
  