.footer-container{
    
    padding: 4rem 0;
background: antiquewhite;
    
}
.footer-hr{
    border-top: 1rem solid red;
}
.footer-container h2{
   
    font-size: 1.5rem;
    text-align: center;
}

.footer-container p{
    
    font-size: 1rem;
}

.footer-form{
    /* padding-top: 2rem; */
    width: 100%;
    
}

.form-group{
    padding: 0.1rem 0;
    font-weight: bolder;
    margin-top: 0.2rem;
}

.form-label{
    display:inline-block;
    
    padding-bottom: 10px;
}



.form-submit{
   
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--primary-color-bright);
    color: #fff;
    text-decoration: none;
    box-shadow: 2px 2px 5px #ddd;
    transition: 0.2s ease-in;
    border: none;
    font-family: Chivo Mono;
    font-size: 1rem;
    
}

.form-submit:hover{
    
    background-color: #222;
}
/* .copyright{
    text-align: center;
    font-weight: bold;
} */

@media screen and (min-width:280px) and (max-width: 345px){
    .copyright{
        
        font-weight: bold;
    }

    /* .footer-container p{
        font-size: 1.2rem;
        margin-top: 2rem;
        text-align: justify;
    } */
    .footer-container p{ 
        display: flex; 
        flex-direction: row; 
        padding-top: 2rem;
    } 
    .footer-container p::before, 
    .footer-container p::after {
        content: "";
        /* font-size: 1.2rem;
        padding-top: 3rem; */
        flex: 1 1;
        border-bottom: 2px solid #000;
        margin: auto;
    }
    .footer-container{
    
        padding: 4rem 0;
    background: center;    
    }
    .form-group-btn{
        text-align: center;
        padding-top: 2rem;
    }
    .footer-container h2{
   
        font-size: 1rem;
        text-align: justify;
        padding-top: 2rem;
        
    }
    .form-input{
        width: 100%;
        padding: 1rem;
        outline: auto;
        font-size: 1rem;
    }
}

@media screen and (min-width:350px){
    .copyright{
        
        font-weight: bold;
    }

    /* .footer-container p{
        font-size: 1.2rem;
        margin-top: 2rem;
        text-align: justify;
    } */
    .footer-container p{ 
        display: flex; 
        flex-direction: row; 
        padding-top: 2rem;
    } 
    .footer-container p::before, 
    .footer-container p::after {
        content: "";
        /* font-size: 1.2rem;
        padding-top: 3rem; */
        flex: 1 1;
        border-bottom: 2px solid #000;
        margin: auto;
    }
    .footer-container{
    
        padding: 4rem 0;
    background: center;    
    }
    .form-group-btn{
        text-align: center;
        padding-top: 2rem;
    }
    .footer-container h2{
   
        font-size: 0.9rem;
        text-align: center;
        padding-top: 1.5rem;
        padding-bottom: 0.9rem;
        
    }
    .form-input{
        width: 100%;
        padding: 1rem;
        outline: auto;
        font-size: 1rem;
    }
}

@media screen and (min-width:768px){
    .copyright{
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
    }

    /* .footer-container p{
        font-size: 1rem;
        margin-top: 1rem;
    } */
    .footer-container p{ 
        display: flex; 
        flex-direction: row; 
        padding-top: 2rem;
        font-size: 1.2rem;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    } 
    .footer-container p::before, 
    .footer-container p::after {
        content: "";
        /* font-size: 1.2rem;
        padding-top: 3rem; */
        flex: 1 1;
        border-bottom: 2px solid #000;
        margin: auto;
    }
    .footer-container{
    
        padding: 4rem 0;
    background: center;    
    }
    .footer-container h2{
   
        font-size: 1.5rem;
        text-align: center;
    }
    .form-input{
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
        outline: auto;
    }
    .footer-form{
        /* padding-top: 2rem; */
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width:1024px){
    .copyright{
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
    }

    /* .footer-container p{
        font-size: 1rem;
        margin-top: 1rem;
    } */
    .form-group{
        padding: 0.1rem 0;
        font-weight: bolder;
        margin-top: 1.5rem;
    }
    .footer-container p{ 
        display: flex; 
        flex-direction: row; 
        padding-top: 2rem;
        font-size: 1.2rem;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    } 
    .footer-container p::before, 
    .footer-container p::after {
        content: "";
        /* font-size: 1.2rem;
        padding-top: 3rem; */
        flex: 1 1;
        border-bottom: 2px solid #000;
        margin: auto;
    }
    .footer-container{
    
        padding: 4rem 0;
    background: center; 
    
    }
    .footer-container h2{
   
        font-size: 1.5rem;
        text-align: center;
    }
    .form-input{
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
        outline: auto;
    }
    .footer-form{
        /* padding-top: 2rem; */
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width:1200px){
    .copyright{
        text-align: center;
        font-weight: bold;
    }
    .footer-container{
    
        padding: 0.1rem 0;
    background: center;  
      
    }
    .footer-container p{ 
        display: flex; 
        flex-direction: row; 
        padding-top: 2rem;
        font-size: 1.2rem;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    } 
    .footer-container p::before, 
    .footer-container p::after {
        content: "";
        /* font-size: 1.2rem;
        padding-top: 3rem; */
        flex: 1 1;
        border-bottom: 2px solid #000;
        margin: auto;
    }
    
    .footer-container h2{
   
        font-size: 1.5rem;
        text-align: center;
        padding-top: 2rem;
    }
    .form-input{
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
        outline: auto;
    }
    .form-group{
        padding: 0.1rem 0;
        font-weight: bolder;
        margin-top: 1rem;
    }
    .footer-form{
        /* padding-top: 2rem; */
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }
}