/* .showcase-container{
    height: 75vh;
    width: auto;
    background-image: url('../../../assets/showcase-bg.jpg');
    position: relative;
    display: flex;
    justify-content: space-around;
} */

.overlay{
    height: 100%;
    width: fit-content;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
}



.showcase-content h2{
    color: #fff;

    font-size: 3rem;
}


.showcase-content span{
    font-family: Chivo Mono;
}
@media screen and (min-device-width: 280px) and (max-device-width: 345px) { 
    .showcase-container{
        height: 75vh;
        width: auto;
        background-image: url('../../../assets/showcase-bg.jpg');
        position: relative;
        display: flex;
        justify-content: space-around;
        overflow-y: hidden;
    }
    .showcase-content h2{
        color: #fff;
        font-size: 1.3rem;
        text-align: center;
        line-break: auto;
    }
    .showcase-content{
        
        position: relative;
        top: 30%;
        bottom: 60%;
        width: 90%;
        text-align: justify;
        line-break: anywhere;
    }
}
@media screen and (min-width: 350px) and (max-width:412px){
    .showcase-container{
        height: 75vh;
        width: auto;
        background-image: url('../../../assets/showcase-bg.jpg');
        position: relative;
        display: flex;
        justify-content: space-around;
        overflow-y: hidden;
    }
    .showcase-content h2{
        color: #fff;
        font-size: 1rem;
        text-align: left;
        
    }
    .showcase-content{
        
        position: relative;
        top: 30%;
        bottom: 60%;
        width: 90%;
        text-align: justify;
        line-break: anywhere;
    }
}

@media screen and (min-width:414px){
    .showcase-container{
        height: 75vh;
        width: auto;
        background-image: url('../../../assets/showcase-bg.jpg');
        position: relative;
        display: flex;
        justify-content: space-around;
        overflow-y: hidden;
    }
    .showcase-content h2{
        color: #fff;
        font-size: 1.3rem;
        text-align: center;
        line-break: auto;
    }
    .showcase-content{
        
        position: relative;
        top: 30%;
        bottom: 60%;
        width: 90%;
        text-align: justify;
        line-break: anywhere;
    }
}

@media screen and (min-width: 768px){
    .showcase-container{
        height: 100vh;
        width: auto;
        background-image: url('../../../assets/showcase-bg.jpg');
        position: relative;
        display: flex;
        justify-content: space-around;
        overflow-y: hidden;
    }
    .showcase-content h2{
        color: #fff;
        font-size: 1.1rem;
        padding-top: 5rem; 
        text-align: center;
        line-break: auto;
    }
    .showcase-content{
        width: 60%;
        top:20%
    }
}

@media screen and (min-width: 1024px){

    .showcase-container{
        height: 100vh;
        width: auto;
        background-image: url('../../../assets/showcase-bg.jpg');
        position: relative;
        display: flex;
        justify-content: space-around;
        overflow-y: hidden;
    }
    /* .showcase-content h2{
        color: #fff;
        font-size: 1.3rem;
    } */
    .showcase-content h2{
        color: #fff;
        font-size: 1.5rem;
        padding-top: 5rem; 
        text-align: center;
        
    }
    /* .showcase-content{
        width: fit-content;
        z-index: 1;
        margin: 10rem;
        position: absolute;
    } */
    .showcase-content{
        width: 60%;
        top:10%
    }
}

@media screen and (min-width: 1200px){
    .showcase-container{
        height: 100vh;
        width: auto;
        background-image: url('../../../assets/showcase-bg.jpg');
        position: relative;
        display: flex;
        justify-content: space-around;
        
    }
    .showcase-content h2{
        color: #fff;
        font-size: 1.5rem;
       text-align: justify;
    }
    /* .showcase-content{
        width: fit-content;
        z-index: 1;
        margin: 13rem;
        position: absolute;
    } */
    .showcase-content{
        width: 50%;
        top:10%
    }
}
@media screen and (min-width: 1500px){
    .showcase-container{
        height: 100vh;
        width: auto;
        background-image: url('../../../assets/showcase-bg.jpg');
        position: relative;
        display: flex;
        justify-content: space-around;
    }
    .showcase-content h2{
        color: #fff;
        font-size: 1.3rem;
        margin-right: 15rem;
    }
    /* .showcase-content{
        width: fit-content;
        z-index: 1;
        margin: 13rem;
        position: absolute;
    } */
    .showcase-content{
       
        width: fit-content;
        top:20%;
        
        
} 

}