/* .showcase-container{
    height: 75vh;
    width: auto;
    background-image: url('../../../assets/showcase-bg.jpg');
    position: relative;
    display: flex;
    justify-content: space-around;
} */
.author-br{
    margin-top: 2rem;
}
/* .overlay{
    height: 100%;
    width: fit-content;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
} */



.showcase-content h2{
    color: #fff;

    font-size: 3rem;
}


.showcase-content span{
    font-family: Chivo Mono;
}
@media screen and (min-width: 280px) and (max-width: 350px) { 
    .showcase-container{
        height: 50vh;
        width: auto;
        background-image: url('../../../assets/books-in-library.jpg');
        position: relative;
        display: flex;
        justify-content: space-around;
        overflow-y: hidden;
    }
    .showcase-content h2{
        color: #fff;
        font-size: 1.3rem;
        text-align: center;
        line-break: auto;
    }
    .showcase-content{
        
        position: relative;
        top: 30%;
        bottom: 60%;
        width: 90%;
        text-align: justify;
        line-break: anywhere;
    }
}
@media screen and (min-width: 350px) and (max-width: 500px){
    .showcase-container{
        height: 45vh;
        width: auto;
        background-image: url('../../../assets/book-mobile.avif');
        position: relative;
        display: flex;
        justify-content: space-around;
        overflow-y: hidden;
    }
    .showcase-content h2{
        color: #fff;
        font-size: 0.8rem;
        text-align: left;
        line-break: auto;
    }
    .showcase-content{
        
        position: relative;
        top: 30%;
        bottom: 60%;
        width: 90%;
        text-align: justify;
        line-break: anywhere;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px){
    .showcase-container{
        height: 45vh;
        width: auto;
        background-image: url('../../../assets/antique\ books.jpg');
        position: relative;
        display: flex;
        justify-content: space-around;
        overflow-y: hidden;
    }
    .showcase-content h2{
        color: #fff;
        font-size: 0.8rem;
        text-align: left;
        line-break: auto;
    }
    .showcase-content{
        
        position: relative;
        top: 30%;
        bottom: 60%;
        width: 90%;
        text-align: justify;
        line-break: anywhere;
    }
}

/* @media screen and (min-width:413px){
    .showcase-container{
        height: 75vh;
        width: auto;
        background-image: url('../../../assets/showcase-bg.jpg');
        position: relative;
        display: flex;
        justify-content: space-around;
        overflow-y: hidden;
    }
    .showcase-content h2{
        color: #fff;
        font-size: 1.2rem;
        text-align: center;
        line-break: auto;
    }
    .showcase-content{
        
        position: relative;
        top: 30%;
        bottom: 60%;
        width: 90%;
        text-align: justify;
        line-break: anywhere;
    }
} */

@media screen and (min-width: 768px){
    .showcase-container{
        height: 45vh;
        width: auto;
        background-image: url('../../../assets/books-in-library.jpg');
        position: relative;
        display: flex;
        justify-content: space-around;
        overflow-y: hidden;
    }
    .showcase-content h2{
        color: #fff;
        font-size: 1.4rem;
        padding-top: 5rem; 
        text-align: justify;
        line-break: auto;
    }
    .showcase-content{
        width: 60%;
        top:20%
    }
}

@media screen and (min-width: 1024px){

    .showcase-container{
        height: 40vh;
        width: auto;
        background-image: url('../../../assets/antique books.jpg');
        position: relative;
        display: flex;
        justify-content: space-around;
        overflow-y: hidden;
    }
    /* .showcase-content h2{
        color: #fff;
        font-size: 1.3rem;
    } */
    .showcase-content h2{
        color: #fff;
        font-size: 1.5rem;
        padding-top: 5rem; 
        text-align: center;
        
    }
    /* .showcase-content{
        width: fit-content;
        z-index: 1;
        margin: 10rem;
        position: absolute;
    } */
    .showcase-content{
        width: 60%;
        top:10%
    }
}

@media screen and (min-width: 1200px){
    .showcase-container{
        height: 50vh;
        width: auto;
        background-image: url('../../../assets/ancient\ books.jpg');
        position: relative;
        display: flex;
        margin-top: 2rem;
        justify-content: space-around;
        
    }
    .showcase-content h2{
        color: #fff;
        font-size: 1.5rem;
       text-align: justify;
    }
    /* .showcase-content{
        width: fit-content;
        z-index: 1;
        margin: 13rem;
        position: absolute;
    } */
    .showcase-content{
        width: 50%;
        top:10%
    }
}
@media screen and (min-width: 1500px){
    .showcase-container{
        height: 75vh;
        width: auto;
        background-image: url('../../../assets/vintage\ books.png');
        position: relative;
        margin-top: 2rem;
        /* display: flex;
        justify-content: space-around; */
    }
    .showcase-content h2{
        color: #fff;
        font-size: 1.3rem;
        margin-right: 15rem;
    }
    /* .showcase-content{
        width: fit-content;
        z-index: 1;
        margin: 13rem;
        position: absolute;
    } */
    .showcase-content{
       
        width: fit-content;
        top:20%;
        
        
} 

}