.detail-section-container{
    padding-top: 8rem;
    padding-bottom: 8rem;
}

/* .flex-container{
    display: flex;
    justify-content: space-between;
} */

/* .book-img-container,.book-detail-container{
    width: 50%;
} */

.book-img-container{
    text-align: center;
    
}

.book-img-container img{
    height:60%;
    border: 1px solid #ddd;
    height: 50%;
}

/* .book-detail-container h2{
    font-size: 2rem;
} */

.book-detail-container p{
    padding: 1rem 0;
}

.book-description{
    line-height: 1.7rem;
}

.book-detail-container h3{
    font-size: 1.5rem;
    padding-top: 1rem;
    color: var(--primary-color-bright);
}


@media screen and(min-width:280px){
    .book-img-container img{
        height:300px;
        transition: 0.5s all ease-in-out;
        border: 1px solid #ddd;
    }
    .book-img-container{
        text-align: center;
        margin-bottom: 2rem;
    }
    .book-img-container,.book-detail-container{
        width: 50%;
        text-align: justify;
        font-size: 1.2rem;
        overflow: hidden;
    }
    .book-detail-container h2{
        font-size: 2rem;
    }
   
    .book-img-container:hover img{
        transform: scale(1.5);
    }
}
@media screen and (min-width:768px){
    /* .book-img-container,.book-detail-container{
        width: 50%;
    } */
    .book-img-container img{
        /* height:400px; */
        border: 1px solid #ddd;
    }
    
    .flex-container{
        display: flex;
        justify-content: space-between;
    }
    .book-img-container,.book-detail-container{
        width: 50%;
        text-align: justify;
        font-size: 1.2rem;
        overflow: hidden;
    }
    .book-detail-container h2{
        font-size: 2rem;
    }
    .book-img-container img{
        height:400px;
        border: 1px solid #ddd;
        transition: 0.5s all ease-in-out;
    }
    .book-img-container:hover img{
        transform: scale(1.5);
    }
}
@media screen and (min-width:1024px){
    /* .book-img-container,.book-detail-container{
        width: 50%;
    } */
    .flex-container{
        display: flex;
        justify-content: space-between;
    }
    .book-img-container,.book-detail-container{
        width: 50%;
        text-align: justify;
        line-break: auto;
        overflow: hidden;
    }
    /* .book-img-container img{
        height:450px;
        border: 1px solid #ddd;
    } */
    .book-img-container img{
        height:500px;
        border: 1px solid #ddd;
        transition: 0.5s all ease-in-out;
        margin-left: 6rem;
    }
    .book-img-container:hover img{
        transform: scale(1.5);
    }
    .book-detail-container h2{
        font-size: 2rem;
        text-align: left;
    }
}
@media screen and (min-width:1200px){
    /* .book-img-container,.book-detail-container{
        width: 50%;
    } */
    .flex-container{
        display: flex;
        justify-content: space-between;
    }
    .book-img-container,.book-detail-container{
        width: 100%;
        text-align: justify;
        line-break: auto;
        overflow: hidden;
        font-size: 1rem;
    }
    .book-img-container img{
        height:600px;
        border: 1px solid #ddd;
        transition: 0.5s all ease-in-out;
        margin-left: 6rem;
    }
    .book-detail-container h2{
        font-size: 2rem;
    }
    /* .book-img-container{
        width: 300px;
        height: 600px;
        overflow: hidden;
        margin: 0 auto;
    } */
    
    .book-img-container:hover img{
        transform: scale(1.5);
    }
}

@media screen and (min-width:1500px){
    /* .book-img-container,.book-detail-container{
        width: 50%;
    } */
    .flex-container{
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;
    }
    .book-img-container,.book-detail-container{
        width: 100%;
        text-align: justify;
        line-break: auto;
        font-size: 1rem;
        overflow: hidden;
    }
    .book-detail-container h2{
        font-size: 2rem;
    }
    .book-img-container img{
        height:600px;
        border: 1px solid #ddd;
        transition: 0.5s all ease-in-out;
        margin-left: 6rem;
    }
    .book-img-container:hover img{
        transform: scale(1.5);
    }
}
